doctype html
html(lang="en")
  head
    title= pageTitle
  body
    include ./components/header.pug
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p(class='iconfont icon-shouji-copy') Pug is a terse and simple templating language with a
        a(href='news.html') news
        strong focus on performance and powerful features.
      img(src='../../images/1.jpg')  