$primary-color: #FF8995; // 全局主色
$sub-color:#FFF9FA;//副色
$sub-title-color:#5d94e9;//副标题色
$warn-color:#ff983c;//醒目颜色
$bg-color-base:#f5f5f5;//背景主颜色
$bg-color-secondary:#f6f6f6;//背景次要颜色
$bg-color-third:#ededed;//第三颜色
$bg-color-four:#f7f7f7;//第四颜色
$bg-color-last:#cccccc;//背景最次要颜色
$bg-input-color-base:#fafafa;//input背景颜色
$link-color: #1890ff; // 链接色
$success-color: #52c41a; // 成功色
$warning-color: #faad14; // 警告色
$error-color: #f5222d; // 错误色
$font-size-base: 14px; // 主字号
$font-size-desc: 16px; //描述字体大小
$font-size-heading: 20px; // 标题主字号
$font-size-super:40px;///超级大字体
$font-size-large:30px;//最大字体
$font-size-middle:18px;//中间字号
$font-size-mini: 12px;//最小字号字体
$heading-color: #333333; // 标题色
$heading-color-secondary: #666666; // 标题次颜色
$text-color: #333333; // 主文本色
$text-color-secondary: #999999; // 次文本色
$text-color-last:#cccccc;//最次文本颜色
$disabled-color: rgba(0, 0, 0, 0.25); // 失效色
$border-radius-base: 2px; // 组件/浮层圆角
$border-color-base: #eeeeee; // 边框色
$btn-color-base:#ff7a87;//按钮主颜色
$box-shadow-base: 0px 10px 18px 0px rgba(1,28,14,0.06); // 浮层阴影
$base-container-width:1100px;

