<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs page</title>
</head>

<body>
    <div class="page-content">
        <%= require('./components/nav.ejs')({}) %>
        <h2 class="title">
            <span class="highlight">
              <span style="font-size: 60%;">&lt;%=</span>
              EJS
              <span style="font-size: 60%;">%&gt;</span>
            </span>
        </h2>
        <img src="<%= require('../../images/1.jpg') %>" alt="">
    </div>
</body>

</html>