.page-content{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}
.title {
    font-size: 98px;
    color: #607026;
    margin-top: 0;
}